---
layout: default
title: Home
sitemap:
priority: 1.0
---

{% for post in paginator.posts limit:5 %}
<div class="unit whole single-post-excerpt">
	<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.post-heading }}</a></h2>
	<div class="meta-info">
		<span class="meta"><time class="timeago postlist-meta" datetime="{{ post.date | date: "%Y-%m-%d" }}"><i class="fa fa-calendar"></i>{{ post.date | date: "%B %-d, %Y" }}</time></span>
		{% if post.tags and post.tags.size > 0 %}
			<div class="tags">
				Tagged:
				{% for tag in post.tags %}
				<span><i class="fa fa-tag"></i>{{ tag }}</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
	<p class="description">{{ post.excerpt | strip_html}}</p>
</div>
{% endfor %}
<div class="unit whole paginator">
	{% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% endif %}
	<span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next">Next</a>
	{% endif %}
</div>

<form role="form" action="//formspree.io/vivek.kumar@paxcel.net" method="POST">
	<div class="form-group">
      <label for="name">Subject</label>
      <input type="text" name="_subject"  class="form-control" id="subject"   placeholder="Enter subject">
   </div> 

   <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  name="name" placeholder="Enter Name">
   </div>
   
   <div class="form-group">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email"  name="_replyto" placeholder="Enter email">
   </div>
   
   <div class="form-group">
      <label for="name">Description</label><br>
		<textarea  class="form-control" name="descriptio"></textarea>


      
   </div>
   
  
 
  
   <button type="submit" class="btn btn-danger">Submit</button>
   <input type="hidden" name="_next" value="http://127.0.0.1:4000/" />
</form>


<!--<form action="//formspree.io/vivek.kumar@paxcel.net"
      method="POST">
     <input type="text" name="_subject" value="New submission!" />
     
    <input type="text" >
    
    
  
    <input type="submit" value="Send">
    <input type="hidden" name="_next" value="http://127.0.0.1:4000/" />
</form> -->